.App {
  text-align: center;
  background-image: url(/images/pexels-photo-1591447.jpeg);
 /* background-size: cover;*/
 /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}
.monform{
  width: 300px ;
max-width:  330px; ;
padding: 15px;
margin: auto;
height:100% ;
font-size: 20px;
border-radius: 12px;
background-color: #19191a;
color: rgb(194, 27, 27);
min-height: 100vh;
justify-content: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


